@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto|Satisfy");
body,
html {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0; }

body {
  position: relative; }

ul {
  padding-left: 0; }

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 10px; }

.h1 {
  font-size: 40px;
  font-family: Satisfy;
  text-shadow: 0 0 4px #E8780C;
  margin: 4px; }

.h2 {
  font-size: 25px;
  margin: 4px 4px 10px; }

.h3 {
  font-size: 20px;
  margin: 5px; }

.h5 {
  font-size: 15px;
  margin: 3px; }

.orangeblocktext {
  font-size: 30px;
  margin: 3px;
  text-shadow: 0 0 4px #E8780C;
  margin-top: 10px; }

.orangetext {
  font-family: Satisfy;
  font-size: 30px;
  margin: 3px;
  text-shadow: 0 0 4px #E8780C;
  margin-top: 10px; }

/*main layout*/
.gf-layout {
  max-width: 1680px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap; }

.background-shade {
  display: none;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 2; }
  .background-shade.active {
    display: flex; }

/*headers*/
.p-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #3B4E7F;
  width: 100%;
  height: 150px;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #E8700C;
  padding: 0 40px; }

.c-header1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%; }

.c-header2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  height: 150px; }
  .c-header2 .in-out-button {
    flex-grow: 2; }

.logolink {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none; }

/* navigation bar*/
.smallimages {
  display: flex;
  justify-content: center; }

.p-mainmenu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #3B4E7F;
  color: white;
  height: 75px;
  width: 100%;
  font-family: 'Roboto', 'sans-serif';
  margin: 0; }

.c-mainmenuitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 20px; }

.small-navigation {
  display: none;
  flex-direction: column;
  z-index: 1;
  position: relative; }

.small-menuitems {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.small-menuitems a {
  display: flex;
  justify-content: space-between; }

.big-navigation {
  display: flex;
  align-self: flex-end; }

.respon-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.respon-navbar {
  background-color: grey;
  width: 37%;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 144px;
  height: 48%; }

.gc-dropbtn,
li a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 15px 20px; }

.dropdown .dropbtn,
li a {
  justify-content: flex-start;
  border-radius: 2px; }

li.c-dropdown {
  display: flex; }

.gc-dropdown-content.programs {
  left: 45px;
  top: 58px; }

.gc-dropdown-content.media {
  left: 63px;
  top: 62px; }

.gc-dropdown-content.aboutus {
  left: 50px;
  top: 62px; }

.maincontent {
  display: flex;
  flex-direction: column;
  width: 100%; }

.gc-dropdown-content {
  position: absolute;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 150px;
  font-family: 'Oswald' ,'sans-serif';
  display: none;
  top: 59px;
  border-radius: 1px; }

.gc-dropdown-content a {
  display: none;
  height: 40px;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
  align-items: center; }

.gc-dropdown-content {
  background-color: #f1f1f1;
  justify-content: flex-start; }

.gc-dropdown-content {
  display: flex; }

/*end of Nav bar*/
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: grey;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: flex;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.offcanvas a:focus,
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px; }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/* Set a style for all buttons */
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336; }

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%; }

/* Add padding to container elements */
.container {
  padding: 16px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px; }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer; }

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*login button*/
/* Full-width input fields */
input[type=password],
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

.in-out-button {
  display: flex;
  width: 100%;
  height: 65px;
  flex-direction: row;
  justify-content: flex-end; }

/* Set a style for all buttons */
.button2 {
  display: flex;
  background-color: #3B4E7F;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding-right: 18px; }

.button1 {
  display: flex;
  background-color: #3B4E7F;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding-right: 20px; }

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336; }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px;
  position: relative; }

img.avatar {
  width: 40%;
  border-radius: 50%; }

.container {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px; }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15%;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold; }

.close:focus,
.close:hover {
  color: red;
  cursor: pointer; }

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

/*footers*/
.p-footer1 {
  display: flex;
  justify-content: space-between;
  background-color: #3B4E7F;
  color: white;
  width: 100%;
  height: 40%; }

.c-item1-footer1 {
  display: flex;
  width: 30%; }

.c-item2-footer1 {
  display: flex; }

.c-item3-footer1 {
  display: flex; }

.c-botleftpad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
  height: 100%; }

.c-botleftpad p {
  padding-left: 20px; }

.fa-4x {
  display: none; }

.smallitalic {
  font-style: italic;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 14px; }

.c-location {
  display: flex;
  padding: 2px;
  flex-direction: column; }

.c-location p {
  margin: 5px;
  font-weight: lighter; }

.c-location h5 {
  margin: 3px;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 10px; }

.c-partners {
  display: flex;
  padding: 2px;
  flex-direction: column; }

.c-partners h5 {
  margin: 3px;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 12px; }

.c-partners ul {
  margin-top: 8px;
  margin-bottom: 8px; }

.p-footer2 {
  display: flex;
  justify-content: center;
  background-color: #E8780C;
  width: 100%;
  height: 15%;
  color: white;
  font-size: 45px; }

.c-icon {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center; }

.gc-icon1-footer2:hover {
  color: #3B4E7F; }

.gc-icon2-footer2:hover {
  color: #3B4E7F; }

.gc-icon3-footer2:hover {
  color: #3B4E7F; }

.logo {
  height: 110px;
  width: 110px;
  border-style: solid;
  border-radius: 5px;
  border-width: thick; }

.mainimages {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap; }

/* Home Page Carousel */
.slider {
  display: flex;
  height: auto;
  max-width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.slider1 {
  display: none;
  background-image: url("../images/slider1.png");
  width: 100%;
  height: 93%;
  background-size: cover; }

.slider2 {
  display: flex;
  background-image: url("../images/slider2.png");
  width: 100%;
  height: 93%;
  background-size: cover; }

.slider3 {
  display: none;
  background-image: url("../images/slider3.jpg");
  width: 85%;
  height: 93%;
  background-size: cover; }

.tabslider1 {
  display: none; }

/* Home Page Navigation Box-Button */
.nav-box {
  display: flex;
  width: 100%;
  border-bottom: 12px solid #77797f; }

.nav-itembot {
  display: flex;
  border: 3px solid #77797f;
  border-radius: 4px;
  transition: 0.3s;
  width: 33%;
  margin: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.image-a {
  display: flex;
  background-image: url("../images/npabanner.jpg");
  background-size: cover;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0; }

.image-b {
  display: flex;
  background-image: url("../images/baseballthrowing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%; }

.image-c {
  display: flex;
  background-image: url("../images/baseballthrowing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%; }

.nav-itembot h2 {
  height: 43px; }

a:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); }

.nav-itembot-image {
  width: 100%; }

.nav-itembot a {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  width: 100%; }

.content {
  padding: 20px;
  color: white; }

/*program*/
.heropic_p {
  background-image: url("../images/AUT_koller_Fotor.jpg");
  height: 100%;
  width: 94%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 45px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.great-text-pro {
  top: 15;
  position: absolute;
  font-size: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white; }

/*about*/
/*advisoryboard*/
/*css for advisoryboard */
.c-advisorymaincon {
  display: flex;
  justify-content: center;
  height: 200px; }

/*austria*/
.auscontent {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.heropic_a {
  background-image: url("../images/AUT_Team_Fotor.jpg");
  height: 100%;
  width: 94%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*css for bavara page*/
.heropic_b {
  background-image: url("../images/regensburgstadium-660x330.jpg");
  height: 100%;
  width: 94%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* blog main content */
.p-blogmain {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f1f1f1;
  width: 70%; }

.c-blogcontent {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px; }

.c-blogtitle {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px;
  border-radius: 3px; }

.monday-baseball {
  border-bottom-style: solid;
  border-width: 2px; }

.gc-blogimage {
  margin: 4px; }

.gc-blogtitle {
  width: 60%;
  margin: 2px; }

.gc-blogreadmore {
  background-color: #77797F;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px; }

.gc-blogreadmore:hover {
  background-color: #E8780C; }

.p-popularmain {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  width: 30%; }

.c-popularticle {
  display: flex; }

.gc-popular-articles {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-width: 2px; }

.gc-popularart {
  background: white;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-radius: 3px; }

.c-popularcontent {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px; }

.gc-popimage {
  width: 140;
  height: 100; }

.gc-text {
  font-size: smaller;
  width: 45%;
  margin: 10px; }

.gc-text p {
  margin-bottom: 4px; }

.gc-rating {
  display: flex; }

/* css for mission statement */
.mission_image {
  position: relative;
  display: inline;
  margin-bottom: 30px; }

.great-text {
  position: absolute;
  font-size: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white; }

.mission_statement_heading {
  background-image: url("../images/mound.jpg");
  width: 100%;
  height: 435px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.content_decription {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.mission_image {
  margin-bottom: 30px; }

.top_headline {
  display: flex;
  width: 100%;
  height: 500px;
  margin: 20px; }

.rail_feature {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 10px; }

.rail_feature_headline {
  display: inline-block;
  width: 75%;
  margin: 5px;
  text-align: center; }

.rail_feature_article {
  display: inline-block;
  width: 97%;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.flex_bottom_media {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 1100px;
  background-color: white;
  margin-bottom: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.flex_rails {
  background-color: white;
  margin: 10px;
  flex-wrap: wrap; }

.rail_left {
  display: flex;
  -webkit-flex: 1;
  flex: 1; }

.rail_left_a {
  width: 100%;
  background-color: white; }

.rail_left_b {
  width: 100%;
  background-color: white; }

.rail_middle {
  -webkit-flex: 1;
  flex: 2; }

.rail_right {
  display: flex;
  -webkit-flex: 1;
  flex: 1; }

.rail_right_1 {
  width: 100%;
  background-color: white; }

.rail_right_2 {
  width: 100%;
  background-color: white; }

.rail_right_3 {
  width: 100%;
  background-color: white; }

.mlbhl {
  width: 98%;
  height: 220px; }

/*NPA*/
/*ourstaff*/
/*schedule*/
.scheduletable {
  width: 90%;
  margin-top: 90px;
  margin-bottom: 20px;
  margin-left: 60px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.shopmaincon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.colorbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #77797f;
  height: 35vh;
  width: 70vh;
  color: white;
  margin: 60px; }

.shoptext {
  width: 100%;
  text-align: center;
  height: 150vh;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  color: white; }

.content {
  padding: 20px;
  margin-top: 15%;
  color: white;
  text-shadow: 0 0 4px #E8780C; }

/* this is for clearing floats, add it after the last floating element */
.clear {
  clear: both; }

/*css for swiss page*/
.heropic_s {
  background-image: url("../images/swiss-baseball-softball.png");
  height: 100%;
  width: 94%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*zhaw*/
@media screen and (max-width: 1325px) {
  .orangetext {
    font-size: 25px;
    white-space: nowrap; }
  .p-footer1 {
    height: 30%; }
    .p-footer1 p,
    .p-footer1 ul {
      font-size: 15px; } }

@media screen and (max-width: 1305px) {
  /*hiding nav bar*/
  .respon-navbar {
    display: none; }
  /*change from big-navigation to small-navigation*/
  .small-navigation {
    display: flex;
    justify-content: center; }
  .big-navigation {
    display: none; }
  .in-out-button {
    align-items: flex-end; }
  .logolink {
    width: 100%;
    justify-content: space-between; }
  .gc-eurologo {
    margin: 10px; }
  .gc-logotitle {
    display: flex; }
  .h1 br {
    display: none; }
  .p-header {
    align-items: center; }
  .c-header1 {
    width: 50%;
    flex-grow: 1;
    justify-content: space-between; }
  .c-header2 {
    width: 31%;
    flex-direction: row-reverse; }
  .maincontent {
    display: flex;
    flex-direction: row;
    padding-bottom: 112px;
    position: relative; }
  .mainimages {
    display: flex;
    max-height: 72%;
    max-width: 63%;
    margin-top: 0;
    width: 100%; }
  .slider {
    max-width: 100%; }
  .slider1 {
    display: none; }
  .slider2 {
    display: none; }
  .slider3 {
    display: none; }
  .tabslider1 {
    display: flex;
    background-image: url("../images/AUT_Bickel_ipad.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 75%;
    width: 100%;
    margin-top: 0; }
  .smallimages {
    display: flex;
    flex-direction: column;
    max-width: 37%;
    max-height: 73%;
    width: 100%;
    height: auto; }
  .nav-itembot {
    width: 0;
    margin: 0;
    border: 0; }
  .image-a {
    display: flex;
    background-image: url("../images/npabanner.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 15%;
    position: absolute;
    background-position: center;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat; }
  .image-b {
    display: flex;
    background-image: url("../images/baseballthrowing.jpg");
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 62em;
    background-repeat: no-repeat; }
  .image-c {
    display: flex;
    background-image: url("../images/baseballthrowing.jpg");
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 62em;
    background-repeat: no-repeat; }
  .nav-itembot a {
    width: 100%; }
  .nav-itembot {
    border-radius: 0; }
  .c-item1-footer1 p {
    font-size: 12px; } }

@media screen and (max-width: 1020px) {
  .p-footer1 {
    height: 300px;
    flex-wrap: wrap; }
  .c-item1-footer1 {
    order: 1;
    width: 100%;
    height: 122px;
    justify-content: center;
    margin-top: 8px; }
  
  .c-botleftpad p {
    font-size: 12px; }
  .orangetext {
    font-size: 35px;
    word-spacing: 0.05em;
    letter-spacing: 0.05em;
    font-weight: 500; }
  .smallitalic {
    font-size: 12px;
    font-style: italic; }
  .c-botleftpad {
    flex-wrap: nowrap; }
  .c-item2-footer1 {
    width: 50%;
    justify-content: center;
    margin-top: 6px; }
  .c-item3-footer1 {
    width: 50%;
    justify-content: center;
    margin-top: 6px; } }

@media screen and (max-width: 980px) {
  .gc-logotitle {
    display: none; }
  .c-icon {
    width: 100%; }
  .maincontent {
    flex-direction: column; }
  .mainimages {
    max-width: 100%;
    max-height: 75%; }
  .tabslider1 {
    display: flex;
    height: 79%; }
  .smallimages {
    max-width: 100%;
    max-height: 35%; }
  .in-out-button {
    flex-direction: column;
    height: 119px;
    justify-content: center; }
  .c-header2 {
    width: 57%; } }

@media screen and (max-width: 630px) {
  .p-footer1 {
    flex-direction: column;
    height: 475px; }
  .c-item2-footer1 {
    width: 100%;
    justify-content: space-around; }
  .c-item3-footer1 {
    width: 100%;
    justify-content: space-around; }
  .fa-4x {
    display: flex;
    align-self: center;
    color: #E8780C; }
  .maincontent {
    flex-direction: column; }
  .mainimages {
    max-width: 100%; }
  .tabslider1 {
    display: flex;
    background-image: url("../images/AUT_Bickel.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 310px;
    width: 100%;
    margin-top: 0; }
  .smallimages {
    max-width: 100%;
    max-height: 35%; } }

@media screen and (max-width: 524px) {
  .logo {
    height: 95px;
    width: 95px; }
  .p-header {
    padding: 0 30px; }
  .gc-eurologo {
    margin: 0; }
  .logolink {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .mainimages {
    height: auto; }
  .tabslider1 {
    max-height: 20%; }
  .smallimages {
    max-width: 100%;
    max-height: 20%; }
  .image-a {
    height: 23%; }
  .image-b {
    height: 100%; }
  .image-c {
    height: 100%; }
  .orangetext {
    font-size: 25px; }
  .p-footer1 p,
  .p-footer1 ul {
    font-size: 12px; }
  .orangeblocktext {
    font-size: 25px; }
  .shoptext p {
    font-size: 15px; }
  .colorbox {
    width: 100%; } }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%; } }
