
/*austria*/

.auscontent{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.heropic_a{
  background-image: url("../images/AUT_Team_Fotor.jpg");
  height:100%;
  width:94%;
  margin-top:10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left:45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
