.mainimages{
  display:flex;
  justify-content: center;
  width:100%;
  margin-top:10px;
  flex-wrap:wrap;
}



/* Home Page Carousel */
.slider {
  display:flex;
  height:auto;
  max-width:90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Home Page Navigation Box-Button */
.nav-box{
  display:flex;
  width:100%;
  border-bottom: 12px solid #77797f;
}

.nav-itembot {
    display: flex;
    border: 3px solid #77797f;
    border-radius: 4px;
    transition: 0.3s;
    width:30%;
    margin:4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-a{

}

.image-b{

}

.image-c{

}
.nav-itembot h2 {
  height:43px;

}


a:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



.nav-itembot-image {
  width: 100%;
}

.nav-itembot a {
  display:block;
  color:black;
  text-align:center;
  width:100%;
}

.content{
  padding:20px;
  color:white;
}
