
.top_headline{
  display:flex;
  width:100%;
  height:500px;
  margin:20px;
}

.rail_feature{
  text-align: center;
  width:100%;
  height:100%;
  margin:10px;

}

.rail_feature_headline{
  display:inline-block;
  width:75%;
  margin:5px;
  text-align: center;

}
.rail_feature_article{
  display:inline-block;
  width:97%;
  margin-top:40px;
  margin-bottom:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.flex_bottom_media{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 1100px;
    background-color: white;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.flex_rails{
  background-color: white;
  margin: 10px;
  flex-wrap: wrap;
}

.rail_left{
  display:flex;
  -webkit-flex: 1;
    flex: 1;
}

.rail_left_a{
  width:100%;
  background-color:white;

}

.rail_left_b{
  width:100%;
  background-color:white;

}

.rail_middle{
  -webkit-flex: 1;
    flex: 2;

}

.rail_right{
  display:flex;
  -webkit-flex: 1;
    flex: 1;

}
.rail_right_1{
  width:100%;
  background-color: white;
}
.rail_right_2{
  width:100%;
  background-color: white;
}
.rail_right_3{
  width:100%;
  background-color: white;
}
.mlbhl{
  width: 98%;
  height:220px;

}










.article_main{

}

.mlbscores{

}

.europescores {

}

.inter_api {

}

.advert{

}

.localvideos {

}
