@media screen and (max-width:1325px) {
    .orangetext {
        font-size: 25px;
        white-space: nowrap;
    }
    .p-footer1{
        p, ul{
            font-size: 15px;
        }
        height:30%;
    }
}

@media screen and (max-width:1260px) {
    /*hiding nav bar*/
    .respon-navbar {
        display: none;
    }
    /*change from big-navigation to small-navigation*/
    ;

    .small-navigation {
        display: flex;
    }

    .big-navigation {
        display: none;
    }

    .logolink {
        width: 100%;
        justify-content: space-between;
    }

    .gc-eurologo {
        margin: 10px;
    }

    .gc-logotitle {
        display: flex;
    }

    .h1 {
        br {
            display: none;
        }
    }

    .p-header {
        align-items: center;
    }

    .c-header1 {
        flex-grow: 1;
        justify-content: space-between;
    }

    .maincontent{
      display:flex;

    }

    .mainimages {
        max-width:60%;
        margin-top:0;
    }

    .slider {
      max-width:100%;


    }
    .smallimages{
      display:flex;
      flex-direction: column;
      max-width:40%;
    }

    .nav-itembot {
        width: 0;
        margin:0;
        border:0;
    }

    .image-a {
      display:none;
        width: 100%;
    }

    .image-b {
      width:100%
    }

    .image-c {
      width:100%;
    }

    .nav-itembot a {
        width: 100%;

    }
}

@media screen and (max-width:1120px) {
    /*main break point*/
}
@media screen and (max-width:925px) {
    .gc-logotitle{
        display:none;
    }
}
@media screen and (max-width:768px) {
    /*main beeak point2*/
}

@media screen and (max-width:470px) {
    .logo{
        height:95px;
        width:95px;
    }
    .p-header{
        padding:0px 30px;
    }
    .gc-eurologo{
        margin:0;
    }
    .logolink{
        display:flex;
        justify-content: center;
        align-items: flex-start;

    }
}
