

.ballback {
  background-image: url("../images/background baseball_Fotor.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.shopmaincon{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.colorbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#77797f;
  opacity:0.8;
  height: 315px;
  width:70%;
  color:white;
  margin:60px;



}

.shoptext{
  width:100%;
  text-align: center;
  height: 150px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  margin: 50px;
  color:white;


}

.content{
  padding:20px;
  margin-top: 15%;
  color: white;
  text-shadow:0 0 4px #E8780C;
}

/* this is for clearing floats, add it after the last floating element */
.clear {
  clear:both
}
