
/*css for swiss page*/
.heropic_s{
  background-image: url("../images/swiss-baseball-softball.png");
  height:100%;
  width:94%;
  margin-top:10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left:45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
