
<html doctype="html5">

<head>
    <title>European Pitching Academy
    </title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bob.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
</head>

<body>
    <div id="background-shade" class="background-shade">
    </div>

    <div class="gf-layout">
        <!-- heading content -->
        <div class="p-header">
            <div class="c-header1">
                <div class="gc-eurologo">
                    <a class="logolink" href="../index.html">
                        <img class="logo" src="../images/europitch_Logo_Fotor.jpg">
                        </img>
                    </a>
                </div>
                <div class="gc-logotitle">
                    <h1 class="h1"><br>European</br> Pitching Academy</h1>
                </div>

                <div class="small-navigation">
                    <div class="respon-icon">
                        <img src="../images/ballmenuicon.png" alt="menuicon" style="height:90px;width:90px;" />
                    </div>
                    <ul class="respon-navbar">

                        <li class="small-menuitems">
                            <a href="../views/programs.html">PROGRAMS
                  <div class= "plus">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </div>
                </a>

                            <a href="../views/austria.html">AUSTRIA</a>
                            <a href="../views/bavaria.html">BAVARIA</a>
                            <a href="../views/swiss.html">SWITZERLAND</a>
                        </li>

                        <li class="small-menuitems">
                            <a href="../views/schedule.html">SCHEDULE
                </a>
                        </li>

                        <li class="small-menuitems">
                            <div class="">
                                <a href="../views/shop.html">SHOP
                  </a>
                            </div>
                        </li>

                        <li class="small-menuitems">
                            <a href="../views/media.html">MEDIA
                  <div class= "plus">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </div>
                </a>
                        </li>

                        <li class="small-menuitems">
                            <div class="">
                                <a href="../views/mlb.html">MLB NETWORK</a>
                                <a href="../views/blog.html">BLOG</a>
                            </div>
                        </li>

                        <li class="small-menuitems">
                            <a href="../views/aboutus.html">
                          ABOUT US
                          <div class= "plus">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                          </div>
                        </a>

                            <div class="">
                                <a href="../views/missionstatement.html">WHO ARE WE</a>
                                <a href="../views/ourstaff.html">OUR STAFF</a>
                                <a href="../views/advisoryboard.html">ADVISORY BOARD</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c-header2">

                <div class="big-navigation">
                    <ul class="p-mainmenu">

                        <li class="c-mainmenuitems dropdown">
                            <a href="../views/programs.html" class="gc-dropbtn">PROGRAMS
                        </a>
                            <div class="gc-dropdown-content programs">
                                <a href="../views/austria.html">AUSTRIA</a>
                                <a href="../views/bavaria.html">BAVARIA</a>
                                <a href="../views/swiss.html">SWITZERLAND</a>
                            </div>
                        </li>


                        <li class="c-mainmenuitems">
                            <a href="../views/schedule.html">
                  SCHEDULE
                </a>
                        </li>

                        <li class="c-mainmenuitems">
                            <div class="nav-itemtop">
                                <a href="../views/shop.html">SHOP
                </a>
                            </div>
                        </li>

                        <li class="c-mainmenuitems dropdown">
                            <a href="../views/media.html">MEDIA
                </a>
                            <div class="gc-dropdown-content media">
                                <a href="../views/mlb.html">MLB NETWORK</a>
                                <a href="../views/blog.html">BLOG</a>
                            </div>
                        </li>


                        <li class="c-mainmenuitems dropdown">
                            <a href="../views/aboutus.html" class="gc-dropbtn">
                  ABOUT US
                </a>
                            <div class="gc-dropdown-content aboutus">
                                <a href="../views/missionstatement.html">WHO ARE WE</a>
                                <a href="../views/ourstaff.html">OUR STAFF</a>
                                <a href="../views/advisoryboard.html">ADVISORY BOARD</a>
                            </div>

                        </li>
                    </ul>
                </div>
                <!--responsive menu-->


                <!--this is where the log in button will go-->
            </div>
        </div>
    </div>

    <!--End nav bar-->





    <div class="mission_main_content">
        <div class="mission-image">
            <div class="statement-heading"></div>

            <p class="great-text" style="width:700px; height:300px;">We make players realize their potential!</p>



        </div>
        <div class="missioncontent">
            <p>

                The European Pitching Academy was established to create a center for pitching development. We believe a positive environment is where a student can excel. We strive to create a setting where students can collaborate with their instructors to maximize
                their potential.
            </p>
            <p>
                Through extensive research and dedication, we give our students one of the highest standards of pitching training available. The European Pitching Academy is an independent organization with different affiliates. We value all of our partnerships and strive
                to make baseball better in all parts of Europe!
            </p>


        </div>

        <div class= "ourstaff">
            <div class="teamh">
                <h1 class="aboutheading">Our Team</h1>
            </div>
            <div class="imageandbio">
                <div class="team">
                    <div class="portraitimage"<


                    <p class="nametag">"Your only as strong as your weakest link"</p>
                    </div>
                </div>
                <div class="staffbio">
                    <h1 class= "bioname">Bob Pace</h1>
                    <h2 class= "title"> Recruiting Coordinator </h2>
                    <h3 class= "personalinfo"> EXPERIENCE: 15 years coaching </h3>
                    <h3 class= "personalinfo"> ORGANIZATION: National Pitching Association </h3>
                    <h3 class= "personalinfo"> EDUCATION: PHD in Sports </h3>
                    <h3 class= "personalinfo"> RESIDES IN: Munich, Germany </h3>
                    <h3 class= "personalinfo"> FAMILY: Wife, Daughters (2) </h3>

                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                    Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC

                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
</p>
                </div>
            </div>

        <div class="thumbnail">
            <div class ="coachh">
                <h1 class="coachadvis">
                Our Coaches
                </h1>
            </div>
            <div class="coaches">

                <div class="coach1">
                    <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                </div>
                <div class="coach2">
                    <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                </div>

                <div class="coach3">
                    <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                </div>

                <div class="coach4">
                    <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                </div>
            </div>
            <div class ="advisoryh">
                <h1 class="coachadvis">
                The Advisory Board
                </h1>
            </div>
                <div class="advisoryboard">

                    <div class="advisory1">
                        <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">

                    </div>
                    <div class="advisory2">
                        <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                    </div>
                    <div class="advisory3">
                        <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                    </div>
                    <div class="advisory5">
                        <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                    </div>
                    <div class="advisory5">
                        <img src="../images/thumbnailpotrial_Fotor.jpg" alt="" style= "width:120px; height:120px;" onmouseover="this.src='../images/thumbnailcolor_Fotor.jpg'" onmouseout="this.src='../images/thumbnailpotrial_Fotor.jpg'">
                    </div>
                </div>

            </div>
        </div>



        <!--footer -->

        <div class="p-footer1">
            <div class="c-item1-footer1">
                <div class="c-botleftpad">
                    <h4 class="orangetext">The European Pitching Academy</h4>
                    <p class="smallitalic">Pitching development for the result-oriented athlete. We show you the way to persevere!
                    </p>
                </div>
            </div>

            <div class="c-item2-footer1">
                <i class="fa fa-compass fa-4x" aria-hidden="true"></i>
                <div class="c-location">
                    <h5 class="h5"> Find us!
                    </h5>
                    <p>Official Site: BSC Fekdkirch Cardinals
                    </p>
                    <p>Address: Appenzellerstaße 11a Götzis, AT
                    </p>
                    <p>Email: info@europeanpitching.com
                    </p>

                </div>

            </div>


            <div class="c-item3-footer1">
                <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                <div class="c-partners">
                    <h5 class="h5">Our Partners</h4>
              <ul>
                 <li>National Pitching Association</li>
                 <li>Austian Baseball Federation</li>
                 <li>Swiss Baseball Softball Federation</li>
                 <li>Bavarian Baseball Federation</li>
                 <li>Peter Calliando Sports International</li>
                 <li>Zurich University of Applied Sciences</li>
                 <li>Reha Aktiv</li>
              </ul>
            </div>
           </div>
           <div class="clear">
           </div>
        </div>

        <!--footer2-->
        <div class="p-footer2">
            <div class= "c-icon">
              <div class="gc-icon1-footer2">  <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </div>
              <div class="gc-icon2-footer2">  <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div class="gc-icon3-footer2"> <i class="fa fa-google-plus" aria-hidden="true"></i>
              </div>
            </div>
        </div>




</body>
</html>
