<html doctype="html5">

<head>
    <title>European Pitching Academy
    </title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/bob.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <meta name ="viewport" content="width=device-width, intial-scale=1.0">
</head>

<body class="gf-layout">
    <!--heading content-->
    <div class="p-header">

        <div class="c-header1">
            <div class="gc-eurologo">
                <img class="logo" src="../images/europitch_Logo_Fotor.jpg" style="height:65px; width:65px;">
                </img>
            </div>
            <div class=".gc-logotitle">
                <h1 class="h1"><br>European</br> Pitching Academy</h1>
            </div>
        </div>
        <div class="c-header2">
            <!--this is where the log in button will go-->
        </div>
    </div>

    <!-- nav bar-->
    <ul class="p-mainmenu">
        <li class="c-mainmenuitems">
            <a href="../index.html">HOME</a>
        </li>

        <li class="c-mainmenuitems dropdown">
            <a href="programs.html" class="gc-dropbtn">PROGRAMS
          </a>
            <div class="gc-dropdown-content programs">
                <a href="austria.html">AUSTRIA</a>
                <a href="bavaria.html">BAVARIA</a>
                <a href="swiss.html">SWITZERLAND</a>
            </div>
        </li>


        <li class="c-mainmenuitems">
            <a href="schedule.html">
            SCHEDULE
          </a>
        </li>

        <li class="c-mainmenuitems">
            <div class="nav-itemtop">
                <a href="shop.html">SHOP
          </a>
            </div>
        </li>

        <li class="c-mainmenuitems dropdown">
            <a href="news.html">MEDIA
          </a>
            <div class="gc-dropdown-content media">
                <a href="mlb.html">MLB NETWORK</a>
                <a href="blog.html">BLOG</a>
            </div>
        </li>


        <li class="c-mainmenuitems dropdown">
            <a href="aboutus.html" class="gc-dropbtn">
            ABOUT US
          </a>
            <div class="gc-dropdown-content aboutus">
                <a href="missionstatement.html">WHO ARE WE</a>
                <a href="ourstaff.html">OUR STAFF</a>
                <a href="advisoryboard.html">ADVISORY BOARD</a>
            </div>

        </li>
    </ul>

    <div class="scheduletable">
        <iframe src="https://outlook.office365.com/owa/calendar/4372b8d001d1438da7908c8d8b500648@baseballaustria.com/c1a697e8c8144dd5986acc61125657722892196901434601360/calendar.html
    " style="border:solid 4px #777" width="100%" height="600" frameborder="0" scrolling="no">
            </iframe>
    </div>

    <!--footer -->

    <div class="p-footer1">
        <div class="c-item1-footer1">
            <div class="c-botleftpad">
                <h4 class="orangetext">The European Pitching Academy</h4>
                <p>Great things will be coming soon. You must have faith and trust the process.
                </p>
            </div>
        </div>

        <div class="c-item2-footer1">
            <div class="c-location">
                <h5 class="h5"> Find us!</h4>
         <p>
           Official Site: BSC Fekdkirch Cardinals
         </p>
         <p>
           Address: Appenzellerstaße 11a Götzis, AT
         </p>
         <p>
           Email: info@europeanpitching.com
         </p>
        </div>
      </div>


      <div class="c-item3-footer1">
        <div class="c-partners">
          <h5 class="h5">Our Partners</h4>
          <ul>
             <li>National Pitching Association</li>
             <li>Austian Baseball Federation</li>
             <li>Swiss Baseball Softball Federation</li>
             <li>Bavarian Baseball Federation</li>
             <li>Peter Calliando Sports International</li>
             <li>Zurich University of Applied Sciences</li>
             <li>Reha Aktiv</li>
          </ul>
        </div>
       </div>
      <div class="clear">
      </div>
  </div>

  <!--footer2-->
  <div class="p-footer2">
    <div class= "c-icon">
      <div class="gc-icon1-footer2">  <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
      <div class="gc-icon2-footer2">  <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
      <div class="gc-icon3-footer2"> <i class="fa fa-google-plus" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</body>
</html>
